@tailwind base;
@tailwind components;
@tailwind utilities;

#Taskform {
    border-left: solid 2px;
    @apply border-red-400;
}
label{
    letter-spacing: 0.1em;
}
#task div p{
    letter-spacing: 0.1em;
    
}
#header {
    @apply text-4xl relative z-20 text-red-400 pb-8;
}
#tasks{
    @apply ml-4 text-xl pt-4 mb-0;
}
#taskDelete{
    @apply hover:bg-slate-700 transition-colors cursor-pointer select-none z-20 text-red-400 absolute right-0 top-0 text-xl bg-slate-900 p-2 px-4 border-slate-700;
}
#tasksContainer{
    grid-template-columns: 1fr 7fr;
    @apply  bg-slate-700 p-4 py-8 my-12 relative w-10/12 rounded
    grid items-center;
}
#taskDate {
    font-size: 1.5em;
}
#tasksHead{
    @apply text-3xl ml-4 text-slate-50 text-xl font-bold
}
.complete {
    @apply after:content-['complete'] after:grid after:w-full after:h-full after:place-items-center after:text-white 
    after:absolute before:absolute relative before:text-white before:bg-slate-900 before:top-0 before:right-0 before:w-full 
    before:h-full before:opacity-60 before:z-10 after:z-20;
}
#Bgimg {
    background: url("./assets/2.png");
    background-size: cover;
}
::-webkit-scrollbar {
    width: 0.2em;
    height: 0.2em;
    @apply z-50;
}
::-webkit-scrollbar-track {
    @apply opacity-0 z-50
}
/* ::-webkit-scrollbar-button {
    background: blue
} */
::-webkit-scrollbar-thumb {
    background: white;
    @apply bg-red-500 z-50
}
button {
    z-index: 20;
}
